[submodule "workflows/single-cell-RNAseq/.ebi-gene-expression-group/scxa-workflows"]
	path = workflows/single-cell-RNAseq/.ebi-gene-expression-group/scxa-workflows
	url = https://github.com/ebi-gene-expression-group/scxa-workflows
