@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    /* Font families */
    --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif;
    --font-mono: Monaco, Menlo, Consolas, "Courier New", monospace;

    /* Custom colors - Galaxy primary */
    --color-bay-of-many-50: #fdfdfe;
    --color-bay-of-many-100: #edf4fa;
    --color-bay-of-many-200: #cde0f0;
    --color-bay-of-many-300: #aecce7;
    --color-bay-of-many-400: #8fb9dd;
    --color-bay-of-many-500: #6fa5d4;
    --color-bay-of-many-600: #5091ca;
    --color-bay-of-many-700: #387dba;
    --color-bay-of-many-800: #2e689a;
    --color-bay-of-many-900: #25537b;
    --color-bay-of-many-950: #1f4465;
    --color-bay-of-many: #25537b;

    /* Galaxy dark */
    --color-ebony-clay-50: #dfe2ea;
    --color-ebony-clay-100: #d3d6e2;
    --color-ebony-clay-200: #bbc0d2;
    --color-ebony-clay-300: #a2a9c2;
    --color-ebony-clay-400: #8992b2;
    --color-ebony-clay-500: #717ba2;
    --color-ebony-clay-600: #5d678d;
    --color-ebony-clay-700: #4c5574;
    --color-ebony-clay-800: #3c435c;
    --color-ebony-clay-900: #2c3143;
    --color-ebony-clay-950: #212532;
    --color-ebony-clay: #2c3143;

    /* Galaxy bright highlight */
    --color-gold-50: #ffffe7;
    --color-gold-100: #feffc1;
    --color-gold-200: #fffd86;
    --color-gold-300: #fff441;
    --color-gold-400: #ffe60d;
    --color-gold-500: #ffd700;
    --color-gold-600: #d19e00;
    --color-gold-700: #a67102;
    --color-gold-800: #89580a;
    --color-gold-900: #74480f;
    --color-gold-950: #442604;
    --color-gold: #ffd700;

    /* Galaxy grey, secondary color */
    --color-chicago-50: #f5f5f6;
    --color-chicago-100: #e6e6e7;
    --color-chicago-200: #d0d0d1;
    --color-chicago-300: #afafb1;
    --color-chicago-400: #878789;
    --color-chicago-500: #6c6c6e;
    --color-chicago-600: #58585a;
    --color-chicago-700: #4f4e50;
    --color-chicago-800: #454446;
    --color-chicago-900: #3c3c3d;
    --color-chicago-950: #262626;
    --color-chicago: #58585a;

    /* Galaxy gold-ish color in logos */
    --color-hokey-pokey-50: #f2ecbf;
    --color-hokey-pokey-100: #efe7ae;
    --color-hokey-pokey-200: #e8dd8d;
    --color-hokey-pokey-300: #e1d36b;
    --color-hokey-pokey-400: #daca49;
    --color-hokey-pokey-500: #d0bd2a;
    --color-hokey-pokey-600: #a19321;
    --color-hokey-pokey-700: #736817;
    --color-hokey-pokey-800: #443e0e;
    --color-hokey-pokey-900: #151304;
    --color-hokey-pokey-950: #000000;
    --color-hokey-pokey: #d0bd2a;
}
