name: enable CI workflows for iwc-workflows repositories
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:
jobs:
  enable:
    name: Enable CI workflows
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: run Python script
      env:
        GITHUB_API_TOKEN: ${{ secrets.IWC_WORKFLOWS_BOT_TOKEN }}
      run: python workflows/enable_ci_workflows.py
